{% extends 'home/_base.html' %} {% block content %}
<div class="contact-container">
  <a href="/"><i class="bx bx-x-circle x-icon"></i></a>
  <h2 class="text-center">Contact Us</h2>
  <div class="second-container">
    <div class="">
      <div class="embed-responsive embed-responsive-4by3 ">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1643.2603021523287!2d69.16948727123574!3d34.54037185546349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d16ef2371c259d%3A0x3905c4af22d0dba4!2zTkVUTElOS1MgTHRkINmG2YrZvNmE2YbaqQ!5e0!3m2!1sen!2s!4v1692806413717!5m2!1sen!2s"
        width="500"
        height="400"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="embed-responsive-item"
      ></iframe>
      </div>
      <div class="">
        <p class="m-0 d-flex justify-content-between">
          <strong>Email:</strong> iqbal.ilham.77@gmail.com
        </p>
        <p class="m-0 d-flex justify-content-between">
          <strong>Phone number: </strong>(+93) 765 181 256
        </p>
        <p class="m-0 d-flex justify-content-between">
          <strong>Address: </strong>Kart e Sakhi, Kabul, Afghanistan
        </p>
      </div>
    </div>
    <form method="post" class="">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
