{% extends 'accounts/_base.html' %} 
{% block title %}Password reset completed{%endblock %} 
{% block content %}
<div class="login-content">
  <div class="login-cc">
    <a href="/"><i class="bx bx-x-circle x-icon"></i></a>
    <h1>Password reset completed</h1>
    <p>Your password has been successfully reset.</p>
    <a href="{% url 'accounts:user_login' %}" class="text-decoration-none">
      <button class="login-btn mt-3 mx-0" type="submit">
        <span>Log In</span>
      </button>
      </a>
  </div>
</div>
{% endblock %}
