{% extends 'accounts/_base.html' %}
{% block title %}Confirm password reset{% endblock %}

{% block content %}
    <h1>Confirm password reset</h1>
   {% if validlink %}
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Confirm">
        </form>
    {% else %}
        <p>
            This password reset link is no longer valid. Please request a new link below.
        </p>
    {% endif %}
    <p>
        <a href="{% url 'registration:password_reset' %}">Request a new password reset link</a>
    </p>

{% endblock %}