{% extends 'core/_main_layout.html' %} {% block content %}
{% block header_title %}Change Password{% endblock %}
      <div class="dashboard-content">
         <h1>Change Password</h1>
      </hr>
      <form action="{% url 'accounts:password_change' %}" method="post" class="d-flex flex-column w-100">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </br>
        </div>
        {% if field.errors %}
        <div class="alert alert-danger">
          {{ field.errors }}
      </div>
      {% endif %}
        {% endfor %}
        <button class="change-pass-btn mt-3 mx-0" type="submit">
            <span>Change password</span>
        </button>
      </form>
    </div>

{% endblock %}