{% extends 'core/_main_layout.html' %} {% block content %}
<div class="dashboard-content d-flex flex-column justify-content-center align-items-center">
<lord-icon
    src="https://cdn.lordicon.com/azartkjs.json"
    trigger="loop"
    delay="2000"
    colors="primary:#646e78,secondary:#b06835,tertiary:#6c16c7,quaternary:#c69cf4,quinary:#f9c9c0"
    style="width:250px;height:250px"
    class="">
</lord-icon>
    <div class="d-flex flex-column justify-content-center w-50">
    
        <div class="alert alert-success">
          Your Password changed Successfully
        </div>
      </div>
</div>

{% endblock %}