{% extends 'accounts/home.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="page-content">
        {% if registration_form.non_field_errors %}
        {% for error in registration_form.non_field_errors %}
        <div class="" role="alert">
            <p class="">Error!</p>
            <p class="">{{ error }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% if address_form.non_field_errors %}
        {% for error in address_form.non_field_errors %}
        <div class="" role="alert">
            <p class="">Error!</p>
            <p class="">{{ error }}</p>
        </div>
        {% endfor %}
        {% endif %}

    <div class="form-v10-content">
        <form class="form-detail" action="#" method="post" id="myform">
            {% csrf_token %}
            {% for hidden_field in registration_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}
            <div class="form-left">
                <h2>Registration</h2>
                <div class="form-row">
                    {{ registration_form.email }}
                    {% if registration_form.email.errors %}
                        {% for error in registration_form.email.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        {{ registration_form.first_name }}
                        {% if registration_form.first_name.errors %}
                        {% for error in registration_form.first_name.errors %}
                        <p class="">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-row form-row-2">
                        {{ registration_form.last_name }}
                        {% if registration_form.last_name.errors %}
                        {% for error in registration_form.last_name.errors %}
                        <p class="">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    {{ registration_form.account_type }}
                    {% if registration_form.account_type.errors %}
                    {% for error in registration_form.account_type.errors %}
                    <p class="">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    <span class="select-btn">
                        <i class="zmdi zmdi-chevron-down"></i>
                    </span>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-3">
                        {{ registration_form.birth_date }}
                        {% if registration_form.birth_date.errors %}
                        {% for error in registration_form.birth_date.errors %}
                        <p class="">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-row form-row-4">
                        {{ registration_form.gender }}
                        {% if registration_form.gender.errors %}
                        {% for error in registration_form.gender.errors %}
                        <p class="">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    {{ registration_form.password1 }}
                    {% if registration_form.password1.errors %}
                        {% for error in registration_form.password1.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    {{ registration_form.password2 }}
                {% if registration_form.password2.errors %}
                {% for error in registration_form.password2.errors %}
                    <p class="">{{ error }}</p>
                {% endfor %}
            {% endif %}
                </div>
            </div>
            {% for hidden_field in address_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}
            <div class="form-right">
                <h2>Contact Details</h2>
                <div class="form-row">
                    {{ address_form.street_address }}
                    {% if address_form.street_address.errors %}
                        {% for error in address_form.street_address.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    {{ address_form.city }}
            {% if address_form.city.errors %}
                {% for error in address_form.city.errors %}
                    <p class="">{{ error }}</p>
                {% endfor %}
            {% endif %}
                </div>
                <div class="form-row">
                        {{ address_form.postal_code }}
                        {% if address_form.postal_code.errors %}
                            {% for error in address_form.postal_code.errors %}
                                <p class="">{{ error }}</p>
                            {% endfor %}
                        {% endif %}                  
                </div>
                <div class="form-row">
                    {{ address_form.country }}
                    {% if address_form.country.errors %}
                        {% for error in address_form.country.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <span class="select-btn">
                          <i class="zmdi zmdi-chevron-down"></i>
                    </span>
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <input type="text" name="code" class="code" id="code" placeholder="Code +" required>
                    </div>
                    <div class="form-row form-row-2">
                        <input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number" required>
                    </div>
                </div>
                
                <div class="form-row">
                    {{ registration_form.profile_photo }}
                    {% if registration_form.profile_photo.errors %}
                        {% for error in registration_form.profile_photo.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Register Badge">
                    <h4 class="text-light mb-4">Have an account? <a href="/accounts/login" class="text-info text-decoration-none"> Login</a></h4>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}