{% extends 'accounts/home.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}
{% block content %}
<div class="page-content">
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="" role="alert">
            <p class="">Error!</p>
            <p class="">{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}
<div clsas="login-container">
    <h1 class="title">Sign In</h1>
    <form method="post" class="login-form" id="myform">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-right bg-dark">
            <input class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}" placeholder="{{ field.label }}">
            <span class="input-border"></span>
        </div>
            {% if field.errors %}
                {% for error in field.errors %}
                <p class="">{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}

            <button class="log-btn" type="submit">
                Sign In
            </button>
    </form>
    <p>Don't have an account?</p>
    <a class="signup-btn text-center m-0 p-1" href="/accounts/register">
        signup
    </a>
</div>
{% endblock %}

