.log-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.log-container {
    position: relative;
    font-family: sans-serif;
    z-index: 50;
  }
  
  .log-container::before, .log-container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .log-container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .log-container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .log-container .box {
    color: white;
    width: 20em;
    height: 25em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .log-container .box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;

  }
  
  .log-container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  .log-container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

.log-input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    
  }

  .input-border {
    position: relative;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }

.log-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }

 .log-btn:hover,:focus {
    color: #ffffff;
    background: #ae00ff;
    border: 1px solid #ae00ff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #ae00ff,
                0 0 10px #ae00ff,
                0 0 30px #ae00ff,
                0 0 70px #ae00ff;
  }
  
.signup-btn {
    width: 88%;
    text-align: center;
    padding: 7px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }

.signup-btn:hover {
color: #ffffff;
background: #ffa600;
border: 1px solid #ffa600;
text-shadow: 0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff;
box-shadow: 0 0 5px #ffa600,
            0 0 10px #ffa600,
            0 0 30px #ffa600,
            0 0 70px #ffa600;
}
