@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Code:wght@400;500;600&family=Fira+Mono:wght@400;500;700&family=Lobster&family=Tilt+Prism&display=swap');

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4835d4;
  --first-color-light: #b0a5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: #f0eaea !important;
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #430451c6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #430451;
}

a {
  text-decoration: none !important;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /* background: linear-gradient(
    180deg,
    #5124c4 0%,
    #56399d 66%
  ); */
  background-color: #430451;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header h1 {
  color: var(--white-color);
  font-family: "Dancing Script", cursive;
  /* font-family: 'Lobster', cursive; */
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.header_toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background: linear-gradient(
    180deg,
    #430451 0%,
    #56399d 86%
  );
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.nav_logo_icon {
  width: 60px;
  height: 60px;
  color: white;
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .nav_logo {
    margin-top: 1rem;
    display: block;
  }

  .nav_logo_icon {
    width: 25px;
    height: 25px;
    font-size: 1.8rem;
  }
}



.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: white;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 172px);
  }
}

.footer {
  width: 100%;
  height: var(--header-height);
  color: var(--first-color-light);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  background: linear-gradient(
    180deg,
    #56399d 0%,
    #56399d 66%
  );
  padding: 1rem 2rem;
  font-size: 11px;
  z-index: 10;
  transition: 0.5s;
}

.footer-name {
  
  font-family: 'Fira Code', monospace;
}

.dashboard-content {
  margin-top: 5rem;
  padding: 1rem;
  background-color: white;
  height: 84vh;
  /* overflow: auto; */
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.daterangepicker {
  top: 168px !important;
}

.search-container input {
  padding: 8px;
  font-size: 17px;
  border-radius: 0.6rem;
  width: 50%;
}

.search-btn {
  width: 120px;
  height: 45px;
  border: 2px solid #4b0070cb;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}
.search-btn:hover {
  background: #4b0070cb;
  color: white;
  font-size: 1em;
}

.transaction-table {
  width: 100%;
  height: 55vh;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  overflow: scroll !important;
}

.action-btn {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 2.5em;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.3s;
  border: none;
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: white;
  background-color: #3498db;
  cursor: pointer;
}

.action-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-btn:active {
  transform: scale(0.95);
  box-shadow: none;
}

.action-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.action-btn::after {
  background-color: #2980b9;
}

.action-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.amount-input {
  width: 100%;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 17px #c8c8c8, -5px -5px 17px #ffffff;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.amount-input:focus {
  background: #e8e8e8;
  box-shadow: inset 5px 5px 17px #c8c8c8, inset -5px -5px 17px #ffffff;
}

.profile-content {
  margin-top: 5rem;
  height: 84vh;
  padding: 0.3rem;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  gap: 1.8rem;
  overflow: hidden;
}

.profile-content h2 {
  text-align: center;
  font-size: 28px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}

.left {
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.201);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}



.profile-img{
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.501);
  margin: 0 auto;
}

.profile-container {
  padding: 1rem;
}

.profile-container .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

 .account-info {
  display: flex;
  flex-direction: column;
  padding: 1.1rem 2rem;
  gap: 0.5rem;
  background: url('../img/purple-background-2.jpg');
  /* background: white; */
  background-size:cover;
  border-radius: 0.4rem;
  position: relative;
  
}
.account-info::before{
  content: "";
  position: absolute;
  border-radius: 0.4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  backdrop-filter: blur(10px); 
}

.account-info h2 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "Tilt Prism", cursive;
  z-index: 1;
}

.account-info p {
  font-family: cursive;
  z-index: 1;
  color: rgb(216, 212, 212);

}

.money-icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.5;
  /* filter: invert(0.1); */
}

.other-info {
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  height: 70%;
  margin-bottom: 0;
}


.other-info .contact-info {
  gap: 0.5rem;
  margin-top: 1rem;
}

/* From uiverse.io by @alexruix */
.inp {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 50%;
 }
 
 .inp:focus, .inp:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
 }
 
 .inp::placeholder {
  color: #777;
 }
 
 .inp:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }
 
 .transfer-btn {
  margin: 2rem auto;
  width: 28%;
  font-family: inherit;
  font-size: 20px;
  background: #56399d;
  color: white;
  padding: 0.4em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s;
}

.transfer-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.transfer-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.transfer-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.transfer-btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.transfer-btn:hover span {
  transform: translateX(5em);
}

.transfer-btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


.change-pass-btn {
  position: relative;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 6px;
  background: #56399d;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.change-pass-btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #3f015ee0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.change-pass-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.change-pass-btn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}

.change-pass-btn:hover span {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.actions-form {
width: 50%;
}

@media screen and (max-width: 768px) {
  .actions-form {
    width: 100%;
  }

  .header h1 {
    font-weight: 400;
    font-size: 1rem;
  }

  .content-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .inp {
    width: 100%;
  }

  .transfer-btn {
    width: 100%;
  }

  .transfer-title {
    text-align: center;
  }

  .profile-content{
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  
  .account-info, .other-info {
    margin-top: 1rem;
  }

  .change-pass-btn span {
    font-size: 0.9rem;
    font-weight: 400;
  }

}



:root {
  
  --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
  --duration: 6.66s;
  
}

/* body,
html {

  height: 100%;
  padding: 0;
  margin: 0;

} */



.bank-card {
  /* display: grid;
  grid-template-rows: minmax(20px,100px) 1fr;
  place-items: center; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.4rem;
}

.card-front:before {

  content: "";
  inset: 0;
  position: absolute;
  transform: translate3d(0, 0, 0.01px);

  background-image: var(--glitter), var(--glitter),
    linear-gradient(120deg, black 25%, white, black 75%);
  background-size: 100% 100%, 80% 80%, 200% 200%;
  background-blend-mode: multiply, multiply, overlay;
  background-position: 50% 50%, 50% 50%, 50% 50%;

  mix-blend-mode: color-dodge;
  filter: brightness(2) contrast(0.8);

  animation: bg var(--duration) ease infinite;

}


.card-front {

  display: grid;
  position: relative;
  transform: translate3d(0, 0, 0.01px);
  width: 70%;
  max-width: 580px;
  aspect-ratio:2.1;

  border-radius: 3.5% 3.5% 3.5% 3.5% / 5% 5% 5% 5%;

  background-image: url(https://simey-credit-card.netlify.app/img/bgs/default.jpg);
  background-size: cover;

  box-shadow: 0 30px 40px -25px rgba(15, 5, 20, 1), 0 20px 50px -15px rgba(15, 5, 20, 1);
  overflow: hidden;
  animation: tilt var(--duration) ease infinite;
  image-rendering: optimizequality;

}

/* .card-front:after {
  
  content: "";
  background: none, none, linear-gradient(125deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 0.1%, rgba(255,255,255,0) 60%);
  background-size: 200% 200%;
  mix-blend-mode: hard-light;
  animation: bg var(--duration) ease infinite;
  
} */


.card-front * {

  font-family: PT Mono, monospace;

}

.cardLogo,
.expiry,
.name,
.number,
.chip,
.icon {

  color: #ccc;
  position: absolute;
  margin: 0;
  padding: 0;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 2.8vw + 0.2rem, 1.1rem);
  inset: 5%;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.5),1px -1px 0px rgba(255,255,255,0.5),1px 1px 0px rgba(0,0,0,0.5),1px -1px 0px rgba(0,0,0,0.5);
  z-index: 5;

}

.name, .number, .expiry {
  background-image: linear-gradient(to bottom, #ededed 20%, #bababa 70%), none,
    linear-gradient(120deg, transparent 10%, white 40%, white 60%, transparent 90%);
  background-size: cover, cover, 200%;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: bg var(--duration) ease infinite;
  
}

.number {

  font-family: PT Mono, monospace;
  text-align: center;
  /* font-size: clamp(1rem, 8vw - 0.5rem, 2.5rem); */
  letter-spacing: 0.025em;
  top: 60%;
  bottom: auto;

}
.expiry,
.name {

  top: auto;

}

.name {

  right: auto;
  max-width: 180px;
  line-height: 1.2;
  text-align: left;

}

.expiry {

  left: auto;

}

.cardLogo {

  bottom: auto;
  left: auto;
  width: 15%;
  filter: invert(1) saturate(0) brightness(1) contrast(1.2);
  mix-blend-mode: screen;

}

.chip {

  display: grid;
  place-items: center;
  width: 10%;
  aspect-ratio: 5/4;
  left: 10%;
  top: 30%;
  border-radius: 10% 10% 10% 10% / 15% 15% 15% 15%;

  background-image: none, none,
    linear-gradient(120deg, #777 10%, #ddd 40%, #ddd 60%, #777 90%);
  background-size: 200% 200%;
  background-position: 50% 50%;

  overflow: hidden;
  animation: bg var(--duration) ease infinite;

}


.chip svg {

  display: block;
  width: 90%;
  fill: none;
  stroke: #9ca400;
  background-color: rgba(255, 217, 0, 0.404);
  stroke-width: 2;

}

.contactless {

  position: absolute;
  left: 23%;
  top: 30%;
  width: 12%;
  rotate: 90deg;

  stroke-width: 1.25;
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.5;

}

.icon {

  width: 25%;
  bottom: auto;
  right: auto;
  top: 0;
  left: 15px;
  filter: invert(1) hue-rotate(180deg) saturate(5) contrast(2);

}


@keyframes tilt {

  0%, 100% { transform: translate3d(0, 0, 0.01px) rotateY(-20deg) rotateX(5deg); }
  50% { transform: translate3d(0, 0, 0.01px) rotateY(20deg) rotateX(5deg); }

}

@keyframes bg {

  0%, 100% { background-position: 50% 50%, calc(50% + 1px) calc(50% + 1px), 0% 50%; }
  50% { background-position: 50% 50%, calc(50% - 1px) calc(50% - 1px), 100% 50%; }

}

#chip,
#contactless {
  display: none;
}

.edit-btn {
  width: 25% !important;
}