{% extends 'core/_main_layout.html' %}
{% load static %}
{% block title %}Transaction Report{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

{% block header_title %}Transactions Report{% endblock %}
{% block content %}
<div class="dashboard-content">
        <h1 class="">Transactions Report</h1>
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-dark d-flex align-items-center h1" id="print-button"><i class='bx bxs-printer text-light' ></i> Print Statement</a>
        </div>
        <hr />
        <form method="get">
            <div class="search-container">
                <input type="search" name="daterange" id="search" placeholder="Filter using date range" value="{{ request.GET.daterange }}" />
                <button type="submit" class="search-btn">
                    <i class="fa fa-search">Search</i>
                </button>
            </div>
            {% if form.daterange.errors %}
                {% for error in form.daterange.errors %}
                    <p class="">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </form>
        <div class="transaction-table" id="print-section">
        <table class="table table-striped">
            <thead class="">
            <tr class="">
                <th class="">Transaction Type</th>
                <th class="">Date</th>
                <th class="">Sender</th>
                <th class="">Reciever</th>
                <th class="">Amount</th>
                <th class="">Balance After Transaction</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object_list %}
            <tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
                <td class="">{{ transaction.get_transaction_type_display }}</td>
                <td class="">{{ transaction.timestamp }}</td>
                <td>
                    {% if transaction.sender %}
                        {{ transaction.sender.user.get_full_name }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if transaction.recipient %}
                        {{ transaction.recipient.user.get_full_name }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="">{{ transaction.amount }} AFN</td>
                <td class="">{{ transaction.balance_after_transaction }} AFN</td>
            </tr>
            {% endfor %}
            <tr class="">
                <th class="" colspan="3">Final Balance</th>
                <th class="">{{ account.balance }} AFN</th>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}

{% block footer_extra %}

<script>
    document.getElementById('print-button').addEventListener('click', function() {
        // Get the content of the print-section div
        var printContent = document.getElementById('print-section').innerHTML;

         // Get the date range input value
         var dateRangeInput = document.getElementById('search').value;
        
        // Create a new window for printing
        var printWindow = window.open('', '', 'width=600,height=600');
        printWindow.document.write('<html><head><title>Transactions</title>');
        // Add styles for the printed table and additional elements
        printWindow.document.write('<style>');
        printWindow.document.write('body { font-family: Arial, sans-serif; color: black; }');
        printWindow.document.write('h2 { color: black; text-align: center; margin-bottom: 20px; }');
        printWindow.document.write('.user-info { color: black; margin-bottom: 20px; }');
        printWindow.document.write('table { border-collapse: collapse; width: 100%;}');
        printWindow.document.write('th, td { border: 1px solid black; padding: 8px; text-align: left; }');
        printWindow.document.write('th { background-color: #3498db; color:white; font-weight: bold;}');
        printWindow.document.write('.logo-container { position: absolute; top: 20px; right: 50px; display:flex; flex-direction:column; align-items: center; }');
        printWindow.document.write('.logo { width: 50px; height: 50px; filter: invert(100%);}');
        printWindow.document.write('</style>');
        printWindow.document.write('</head><body>');

        // Add logo
        printWindow.document.write('<div class="logo-container">');
        printWindow.document.write('<img class="logo" src="{% static 'img/logo.png' %}" alt="Logo">');
        printWindow.document.write('<p>The Banker</p>');
        printWindow.document.write('</div>');
        
        // Add title
        printWindow.document.write('<h2>Bank Statement</h2>');

         // Add date range
         printWindow.document.write('<p><strong>Date Range:</strong> ' + dateRangeInput + '</p>');
        
        // Add user information
        printWindow.document.write('<div class="user-info">');
        printWindow.document.write('<p><strong>Name:</strong> {{ user.get_full_name }}</p>');
        printWindow.document.write('<p><strong>Email:</strong> {{ user.email }}</p>');
        printWindow.document.write('<p><strong>User Account:</strong> {{ user.account.account_no }}</p>');
        printWindow.document.write('</div>');
        
        // Add table content
        printWindow.document.write('<table>');
        printWindow.document.write(printContent);
        printWindow.document.write('</table>');
        
        printWindow.document.write('</body></html>');
        
        // Print the content and close the new window
        printWindow.document.close();
        printWindow.print();
    });
</script>

<script type="text/javascript">
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: "Clear",
            },
        });

        $('input[name="daterange"]').on("apply.daterangepicker", function (ev, picker) {
            $(this).val(picker.startDate.format("YYYY-MM-DD") + " - " + picker.endDate.format("YYYY-MM-DD"));
        });

        $('input[name="daterange"]').on("cancel.daterangepicker", function (ev, picker) {
            $(this).val("");
        });
    });
</script>
{% endblock %}
