{% extends 'core/_main_layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block header_title %}{{title}}{% endblock %}
{% block content %}
<div class="dashboard-content">
<h1 class="content-title">{{ title }}</h1>
<hr />
<div class="">
    <form method="post" class="actions-form">
        {% csrf_token %}

        <div class="mb-4">
            <label class="mb-3 mx-2 h4" for="amount">
                Amount Of Money
            </label>
            <input class="amount-input" name="amount" id="amount" type="number" required placeholder="Amount">
        </div>
        {% if form.amount.errors %}
            {% for error in form.amount.errors %}
                <p class="">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <div class="w-100 d-flex justify-content-end">
            <button class="action-btn" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
</div>
{% endblock %}
