{% extends 'core/_main_layout.html' %}
{% block title %}Transaction Report{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% comment %} <style>
    /* Your existing styles */

    /* Print-specific styles */
    @media print {
        body *:not(.transaction-table) {
            display: none;
        }
        
        /* Show the table and apply print-specific styles */
        .transaction-table {
            display: block;
            margin: 20px auto; /* Add any desired styling for the table */
        }
    }
</style> {% endcomment %}

{% endblock %}

{% block header_title %}Transactions Report{% endblock %}
{% block content %}
<div class="dashboard-content">
        <h1 class="">Transactions Report</h1>
        <a href="{% url 'transactions:print_transactions' %}" target="_blank" class="d-flex align-items-center justify-content-end"><i class='bx bxs-printer h2 text-dark'></i> Print Transactions</a>
        {% comment %} <a href="#" id="print-button" class="btn btn-primary">Print Table</a> {% endcomment %}
        <hr />
        <form method="get">
            <div class="search-container">
                <input type="search" name="daterange" id="search" placeholder="Filter using date range" value="{{ request.GET.daterange }}" class="" />
                <button type="submit" class="search-btn">
                    <i class="fa fa-search">Search</i>
                </button>
            </div>
            {% if form.daterange.errors %}
                {% for error in form.daterange.errors %}
                    <p class="">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </form>
        <div class="transaction-table">
        <table class="table table-striped">
            <thead class="">
            <tr class="">
                <th class="">Transaction Type</th>
                <th class="">Date</th>
                <th class="">Amount</th>
                <th class="">Balance After Transaction</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in object_list %}
            <tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
                <td class="">{{ transaction.get_transaction_type_display }}</td>
                <td class="">{{ transaction.timestamp }}</td>
                <td class="">{{ transaction.amount }} AFN</td>
                <td class="">{{ transaction.balance_after_transaction }} AFN</td>
            </tr>
            {% endfor %}
            <tr class="">
                <th class="" colspan="3">Final Balance</th>
                <th class="">{{ account.balance }} AFN</th>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}

{% block footer_extra %}

{% comment %} <script type="text/javascript">
    $(function () {
        // Your existing code for date range picker initialization

        $('#print-button').on('click', function () {
            // Hide everything except the table when printing
            $('body *:not(.transaction-table)').hide();
            // Print the table
            window.print();
            // Show all elements after printing is done
            $('body *').show();
        });
    });
</script> {% endcomment %}

<script type="text/javascript">
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: "Clear",
            },
        });

        $('input[name="daterange"]').on("apply.daterangepicker", function (ev, picker) {
            $(this).val(picker.startDate.format("YYYY-MM-DD") + " - " + picker.endDate.format("YYYY-MM-DD"));
        });

        $('input[name="daterange"]').on("cancel.daterangepicker", function (ev, picker) {
            $(this).val("");
        });
    });
</script>
{% endblock %}
